body {
    background-color: black;
    color: aliceblue;
}

#grid {
    position: fixed;
    top: 30%;
    left: 35%;
    display: grid;
    grid-template-columns: repeat(12, 16px);
    grid-template-rows: repeat(12, 16px);
    gap: 3px;
}

#grid div {
    width: 16px;
    height: 16px;
    border: 1px solid black;
    border-radius: 5px;
}
.wall {
    background-color:gray;
}

.floor {
    background-color:green;
}

.food {
    background-color:red;
}

.snake {
    background-color:yellow;
}

.head {
    background-color:orange;
}
