:root {
    --grid-res: 12;
    --grid-item-size: 32px;
}

body {
    background-color: black;
    color: aliceblue;
}

#grid {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(var(--grid-res), var(--grid-item-size));
    grid-template-rows: repeat(var(--grid-res), var(--grid-item-size));
    gap: 3px;
}

#grid div {
    width: var(--grid-item-size);
    height: var(--grid-item-size);
    border: 1px solid black;
    border-radius: 5px;
}

#intro {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 5%;
    
    border: 1px solid black;
    border-radius: 15px;
    z-index: 100;
    font-size: 3em;
    text-align: center;
    color: black;
    background-color: orange;
}

.wall {
    background-color:gray;
}

.floor {
    background-color:green;
}

.food {
    background-color:red;
}

.snake {
    background-color:yellow;
}

.head {
    background-color:orange;
}
